#loading {
    background-image: url("http://i.stack.imgur.com/MnyxU.gif");
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

@media screen and (max-width: 768px) {
    /* For mobile phones: */
    
}

/* iphone 5 and the other superSmalls */

@media screen and (max-width: 410px) {
.center{
    text-align: center;
}    

.container{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

}
#map {
    display: none;
}
.click {
    width: 82%;
    height: 15%;
    position: relative;
    left: 0%;
    top: 0%;
    border-style: solid;
    border-color: black;
    background-color: blanchedalmond;
    z-index: 10;
}
.click1 {
    width: 20%;
    position: absolute;
    left: 100%;
    

    background-color: blanchedalmond;
}
.click2 {
    width: 25%;
    position: absolute;
    left: 25%;
    

    background-color: blanchedalmond;
}
.click3 {
    width: 25%;
    position: absolute;
    left: 50%;
    

    background-color: blanchedalmond;
}
.click4 {
    width: 25%;
    position: absolute;
    left: 75%;
    

    background-color: blanchedalmond;
}
.click5 {
    width: 25%;
    position: absolute;
    left: 0%;
    

    background-color: blanchedalmond;
}
.click6 {
    position: absolute;
    left: 108%;
    
}