
@media screen and (max-width: 768px) {
    /* For mobile phones: */
    
}

/* iphone 5 and the other superSmalls */

@media screen and (max-width: 410px) {
    
}

#map {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("http://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}